html {
  font-family: "Lucida Sans", sans-serif;
}

input[type="file"] {
    display: none;
}

.header {
  background-color: #4AC3C1;
  color: #ffffff;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.footer {
  background-color: #F7F7F7;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-3 {width: 25%;}
  .col-s-6 {width: 50%;}  
  .col-s-9 {width: 75%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-3 {width: 25%;}
  .col-6 {width: 50%;}
  .col-9 {width: 75%;}
  .col-12 {width: 100%;}
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonSelect {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  border-radius: 12px;
  font-size:30px;
}
.buttonClearList {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  font-size:30px;
}
.buttonUpload {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 12px;
  font-size:30px;
}
.buttonClearReport {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  font-size:30px;
}